*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}
:root{
    --bg-color: black;
    --second-bg-color: rgb(15, 15, 15);
    --main-color: green;
    --white-color:#fff;
    --disabled-color:#fff3;
}
html{
    font-size:62.5% ;
}
body{
    color: var(--white-color);
    
    

    

}
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;

}

header.active{
animation: show-header 1.5s linear forwards;
animation-delay: 1.2s;
}
@keyframes show-header{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.logo{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 700;
}
nav a{
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
}
nav a:hover, nav a.active{
    color: var(--main-color);
}
#menu-icon{
    width: 4rem;
   
    display: none;
}
.bars-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
.bars-box .bar{
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    animation: hide-bars .5s ease-in-out both;
    animation-delay: calc(.1s *var(--i));
    
   
}



@keyframes hide-bars{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100%);
    }
}
.bars-box.active .bar{
    animation: show-bars .5s ease-in-out both;
    animation-delay: calc(.1s *var(--i));

}
@keyframes show-bars{
    0%{
        transform: translateY(-100%);
    }
    
    100%{
        transform: translateY(0);
    }
}
section{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 10rem 9% 2rem;

    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}
section.active{

    animation: show-contents 1.5s linear forwards;
    animation-delay: 1.6s;

}
@keyframes show-contents{
    100%{
        visibility: visible;
        opacity: 1;
        overflow: auto;
    }

}
.home{
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-between;
}
.home-detail h1{
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-detail h2{
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
}
.home-detail h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text{
    25%,100%{
        display: none;
    }
}
.home-detail h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%, 100%{width: 0;}
    70%, 90%{width: 100%;}
}
.home-detail p{
    font-size: 1.6rem;
    margin: 1rem 0 2.5rem;
}
.home-detail .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s;
}
.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}
.home-detail .btn-sci .sci{
    margin-left: 2rem;
}
.home-detail .btn-sci .sci a{
    display: inline-flex;
    padding: .8rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 .8rem;
    transition: .5s;

}
.home-detail .btn-sci .sci a img{
    width: 2rem;
}
.home-detail .btn-sci .sci a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.home-img .img-box{
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
.home-img .img-box::before, 
.home-img .img-box::after{
    content: "";
    position: absolute;
    width: 50rem;
    height: 50rem;
   
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after{
    animation-delay: -5s;
}
@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-radius: 50%;
    border: 0.1rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    top: 1rem;
    display: flex;
    width: 95%;
    object-fit: cover;
    mix-blend-mode: lighten;
   border-radius: 100%;
   height: 95%;
    
}


/* services section css*/
.heading{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.heading span{
    color: var(--main-color);
}
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem;
    width: 100%;
    
}
.services-container{
    padding: 3rem 2.5rem;
    background: var(--second-bg-color);
    border-radius: 1rem;
    border: .3rem solid var(--second-bg-color);
    transition: .5s;
   
   
}
 .services-box{
    padding: 3rem 2.5rem;
    background: var(--second-bg-color);
    border-radius: 1rem;
    border: .3rem solid var(--second-bg-color);
    transition: .5s;
    width: 300px;
    height: 300px;
    
   
}

.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    flex-direction: column;
   
}
.services-box .icon:hover .icon :not(a img){
    background: var(--main-color);
}
.services-box .icon img{
    width: 4rem;
}
.services-box .icon a{
    display: inline-flex;
    background: var(--white-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}
.services-box:hover .icon a{
    background: var(--main-color);
}
.services-box .icon h1{
 font-size: 20px;
}
.services-box:hover .icon h1{
    color: var(--main-color);
}

.services-box .icon a img{
    width: 2rem;
    color: var(--bg-color);
    transform: rotate(22deg);

}
.services-box .icon a:hover img{
    transform: rotate(360deg);
}
.services-box h3{
    font-size: 3rem;
    margin: .5rem 0 2rem;
    transition: .5s;
}
.services-box:hover h3{
    color: var(--main-color);
}
.services-box p{
    font-size: 1.6rem;
}


/*contact css*/
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 3rem;
    margin-top: 2rem;
}
.contact-container .contact-box:first-child{
    align-self: center;
}
.contact-box h2{
    font-size: 4.5rem;
}
.contact-box p{
    font-size: 1.6rem;
}
.contact-box .desc{
    margin: 1.5rem 0 2.5rem;
}
.contact-box .contact-detail{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.contact-detail img{
    display: inline-flex;
    background: var(--second-bg-color);
    color: var(--main-color);
    width: 4.5rem;
    padding: 1.2rem;
    border-radius: .6rem;
    margin-right: 1.5rem;
}
.contact-detail .detail p:first-child{
    color: var(--main-color);
}
.contact-box form{
    background: var(--second-bg-color);
    padding: 2.5rem 3.5rem 3.5rem;
    border-radius: 1rem;
    text-align: center;
}
.contact-box .heading{
    font-size: 3.5rem;

}
.contact-box .field-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.contact-box .field-box input,
.contact-box .field-box textarea{
    padding: 1.5rem;
    background: var(--bg-color);
    border: .15rem solid var(--bg-color);
    border-radius: .6rem;
    font-size: 1.6rem;
    color: var(--white-color);
}
.contact-box .field-box textarea{
    grid-column: 1 / -1;
    height: 26rem;
    resize: none;
}
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus{
    border-color: var(--main-color);
}
.contact-box .btn{
    margin-top: 2rem;
    cursor: pointer;
}


/*blog css*/
.blog-container{
    display: flex;
    gap: 20px;
   
  
}

.blog-tv{
    width: 600px;
    height: 350px;
    border: 5px solid var(--white-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.blog-tv h1{
    font-size: 30px;
   
}
.live-channel{
    width: 580px;
    height: 330px;
}
.blog-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}

.blog-detail h1{
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}
.blog-detail h2{
    display: inline-block;
    font-size: 3.5rem;
    margin-top: -1rem;
}
.blog-detail h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text{
    25%,100%{
        display: none;
    }
}
.blog-detail h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%, 100%{width: 0;}
    70%, 90%{width: 100%;}
}


/* css for the product page*/
.search-engines{
    width: 50rem;
    border-radius: 1rem;
    outline: none;
    border: .2rem solid green;
    background: transparent;
    color: white;
    font-size: 1.7rem;
    padding: 10px;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  
}

.filter-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
    
    
}

.filter-box::-webkit-scrollbar {
    height: 4px;
}

.filter-box::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.filter-box:hover::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.filter-btn {
    display: inline-block; /* or flex, either works */
    width: auto; /* key line to avoid unnecessary width */
    flex-shrink: 0;
    padding: 0.4rem 1rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem var(--main-color);
    font-size: 1.8rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .3s;
    white-space: nowrap; /* prevent wrap */
    text-align: center;
}


.filter-btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}



.check-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#check-btn{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
}






.logo span{
    color: var(--main-color);
}

.product-card{
    width: 280px;
    height: 380px;
    border: .4rem solid var(--main-color);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.product-card h2{
    font-size: 2rem;
}
.product-card p{
    font-size: 1.6rem;
}
.product-card .btn{
    cursor: pointer;
    font-weight: bold;
}
.product-box{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Responsive grid */
    
    gap: 10px;
    overflow-y: auto;
    justify-content: center;
    width: 100%;
    max-height: 60vh;
    margin-top: 20px;
    
 
    
}
.product-card img{
    width: 180px;
    height: 180px;
    border-radius: 10px;

}
.product-box::-webkit-scrollbar{
    width: .7rem;
}
.product-box::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 1rem;
}
.product-box:hover::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
.cart-box img{
    width: 60px;
    height: 60px;
    
}

/* home css*/

    

.product-info button{
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s;
    margin-bottom: 3rem;
}
.product-info button:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}
.product-info h2{
    font-size: 4rem;
}
.product-info p{
    font-size: 2rem;
}


/* filter hidden*/
.hidden {
    display: none;
  }

.cart-box{
    display: flex;
    gap: 10px;
    align-items: center;
  
}
.cart-box h1{
    font-size: 4rem;
}

#order-container{
    width: 80%;
    padding: 20px;
    border-radius: 10px;
 
   background: var(--second-bg-color);
    height: 600px;
    overflow-y: auto;
    transition: .5s;
    border: .2rem solid var(--main-color);
    margin-top: 2rem;
    
  }

  .order-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }


#order-container::-webkit-scrollbar{
    width: .7rem;
}
#order-container::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 1rem;
}
#order-container:hover::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
#cart-items{
    font-size: 1.6rem;
}
 

  #order-container h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    color: var(--main-color);
    font-weight: 900;
    text-align: center;
    
  }

  #order-receipt {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }

  #order-receipt h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }

  #order-receipt-table {
    width: 100%;
    margin-bottom: 15px;
    border-collapse: collapse;
    color: black;
  }

  #order-receipt-table th, #order-receipt-table td {
    padding: 10px;
    text-align: left;
  }
  .sum-of-all p{
    margin: 5px;
    color: black;
    font-size: 2rem;
    
  }

  #order-receipt-table th {
    background-color: #f1f1f1;
    font-size: 1.6rem;
  }

  #order-receipt-table td {
    border-bottom: 1px solid #ddd;
  }

  #order-summary {
    text-align: right;
    margin-top: 15px;
  }

  #order-summary span {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }

  #order-summary strong {
    font-size: 18px;
  }
  #order-receipt input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  .whats-btn-box{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .whats-btn-box button{
    
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  .whats-btn-box button:hover{
    color: black;
  }
  #order-main-container{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  
  .add-to-cart{
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s;
    cursor: pointer;
    font-weight: bold;
}
.add-to-cart:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
  
}
/* Media Queries */
@media (max-width: 768px) {
    .login-box, .results-box {
        width: 90%;
    }

    .student-image {
        width: 80px;
        height: 80px;
    }

    table, th, td {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .student-image {
        width: 60px;
        height: 60px;
    }

    table, th, td {
        font-size: 12px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}


/*media queries*/
@media screen and (max-width:1200px) {
    html{
        font-size: 55%;
    }
    .product-container{
        margin-top: 2rem;
    }
    .search-box{
        margin-bottom: 1rem;
    }
    .filter-box{
        width: 100%;
    }
    .product-box{
        margin-left: 2rem;
    }

    

    
}
@media screen and (max-width:992px) {
    header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    
}
@media screen and (max-width:810px) {
    .contact-box .field-box{
        grid-template-columns: 1fr;
    }
    .blog-tv{
        width: 400px;
        height: 300px;
    }
    .product-card{
        width: 230px;
        height: 340px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
    }
    .product-box{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin-left: 0;
    }
}
@media screen and (max-width:768px) {
    #menu-icon{
        display: block;
    }
    section{
        min-height: 100vh;
    }
    .blog-tv{
        width: 350px;
        height: 250px;
    }
    .live-channel{
        width:330px ;
        height: 230px;
    
    }
    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        margin: 4rem 0;
    }
    .home{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }
    .home-img .img-box{
        width: 35rem;
        height: 35rem;
    }
    .resume-container
    {
        grid-template-columns: 1fr;
    }
    .resume-container{
        gap: 3rem;
    }
    .contact-container{
        grid-template-columns: 1fr;
       
    }
    .contact-box .field-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-box{
        grid-template-columns: 1fr;
    }
    
}
@media screen and (max-width:600px){
    .home-img .img-box{
        width: 30rem;
        height: 30rem;
    }
    .contact-box .field-box{
        grid-template-columns: 1fr;
    }
   
    section{
        min-height: 100vh;
    }
    .product-box{
        margin-left: 2rem;
    }
    
}

@media screen and (max-width:450px){
    html{
        font-size: 50%;
    }
    section{
        min-height: 100vh;
    }
    .product-box button{
        width: 60%;
    }
    #check-btn{
        width: 60%;
    }
    .product-card{
        width: 190px;
        height: 330px;
    }
    .product-card img{
        width: 150px;
        height: 150px;
    }
    .product-box{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        margin-left: 0;
    }
    .product-card button{
        width: 80%;
    }
    .cart-box img{
        width: 50px;
        height: 50px;
    }

}


@media screen and (max-width:430px){
    .product-card{
        width: 180px;
    }
    .product-box{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin-left: 0;
    }
    
    }

@media screen and (max-width:425px){
    .product-card{
        width: 180px;
    }
    .product-box{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin-left: 0;
    }
    
    }

@media screen and (max-width:420px){
    .product-card{
        width: 180px;
    }
    .product-box{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin-left: 0;
    }
    
    }
    @media screen and (max-width:415px){
        .product-card{
            width: 180px;
        }
        .product-box{
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            margin-left: 0;
        }
        
        }



        
@media screen and (max-width:410px){
    .product-card{
        width: 180px;
    }
    .product-box{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin-left: 0;
    }
    
    }
        

@media screen and (max-width:405px){
.product-card{
    width: 180px;
}
.product-box{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-left: 0;
}

}

   




       





            



@media screen and (max-width:400px){
    .home-detail, 
    .resume-box h2,
    .resume-box .heading,
    .resume-box .desc,
    .resume-detail.about .resume-item{
        text-align: center;
    }
    section{
        min-height: 100vh;
    }
    .home-detail .btn-sci{
        flex-direction: column-reverse;
    }
    .home-detail .btn-sci .sci{
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .contact-box form{
        padding: 2.5rem 3rem 3.5rem;
    }
    .contact-box h2{
        font-size: 3.5rem;
    }
    .product-box{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .product-card p{
        display: none;
    }
    .product-card{
        height: 300px;
        width: 170px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
    }
}


@media screen and (max-width:390px){
   
}

@media screen and (max-width:385px){
   
}

@media screen and (max-width:380px){
    
    .product-card{
        height: 280px;
        width: 165px;
    }
}

@media screen and (max-width:375px){
   
}

@media screen and (max-width:370px){
    #studentImage{
        width: 250px;
        height: auto;
    }
    .product-card{
        height: 280px;
        width: 160px;
    }
}

@media screen and (max-width:360px){
    #studentImage{
        width: 210px;
        height: auto;
    }
    .product-card{
        height: 280px;
        width: 155px;
    }
    .product-card img{
        width: 130px;
        height: 130px;
    }
    .product-card button{
        width: 90%;
    }
}

@media screen and (max-width:355px){
    #studentImage{
        width: 230px;
        height: auto;
    }
    .product-box{
        margin-left: .5rem;
    }
}

@media screen and (max-width:350px){
    #studentImage{
        width: 250px;
        height: auto;
    }
    .product-box{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin-left: 4rem;
    }

    .product-card{
        width: 80%;
    }
    .product-card p{
        display: flex;
    }
}

@media screen and (max-width:330px){
    #studentImage{
        width: 210px;
        height: auto;
    }
}

@media screen and (max-width:300px){
    html{
        font-size: 50%;
    }
    .blog-tv{
        width: 250px;
        height: 200px;
        
    }
    .live-channel{
        width: 220px;
        height: 180px;
    }
    .blog-tv h1{
        font-size: 20px;
    }
    section{
        min-height: 100vh;
    }
    .product-card p{
        display: flex;
    }
}